<ion-content>
  <div id = outer>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->

      
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>

    <div id=subs>
      <p>New Service</p>
    </div>
    <div class= "login-section ion-padding">
      <div class="login-form ion-padding">
        <div class ="form-input">
          <ion-item color="transparent">
            <ion-label position="floating" placeholher ="e.g Access internet">Service Name</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </div>
        <div class ="form-input">
          <ion-item color="transparent">
            <ion-label position="floating">Subscription duration</ion-label>
            <ion-input type="text" placeholher = "e.g Monthly"></ion-input>
          </ion-item>
        </div>
        <div class ="form-input">
          <ion-item color="transparent">
            <ion-label position="floating">Subscription Fee</ion-label>
            <ion-input type="text" placeholher = "e.g Monthly"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>

    <div class= "action-button ion-padding">
      <ion-button size="large" class = "login-button" style="margin-top: 300px;">Add Service</ion-button>
    </div>
  </div>
</ion-content>

