<ion-content>
  <div id=outer>
    <div id=inner class="inner-class">
      <div class = "img-container">
        <img src ="assets/logo.PNG" style="margin-top: 60px;">
      </div>

      <span class="admin-text">Forgot password</span>
    </div>

    <div id=inner2>

      <div class= "login-section ion-padding">
        <div class="login-form ion-padding">
          <div class ="form-input">
            <ion-item color="transparent">


                <ion-label position="floating">Email address</ion-label>
                <ion-input type="email"></ion-input>

            </ion-item>
          </div>
        </div>
        <a (click)="presentAlert()">Send code</a>
      </div>
    </div>
  </div>

</ion-content>
