<ion-content>
  <div id=outer>
    <div id=inner class="inner-class">
      <div></div>
      <div class = "img-container" >
        <img src ="assets/logo.PNG" style="margin-top: 60px;">
      </div>

      <span class="admin-text">Change password</span>
    </div>

    <div id=inner2>

      <div class= "login-section ion-padding">
        <div class="login-form ion-padding">
          <div class ="form-input">
            <ion-item color="transparent">
              <ion-label position="floating">New Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </div>
          <div class ="form-input">
            <ion-item color="transparent">
              <ion-label position="floating">Re-enter Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
          </div>
        </div>
        <div class= "action-button ion-padding">
          <ion-button size="large" class = "login-button" (click) ="alertPopup()">Change Password</ion-button>
        </div>
      </div>
    </div>
  </div>

</ion-content>

